:root {
    --main-color: #dc5c0f;
    --main-highlight: #fe7e2f;
    --main-selected: rgba(145,97,12,1);
    --bg-color: #333333;
    --bg2-color: #444444;
    --border-color: #555555;
    --grey-color: #999999;
    --grey-light-color: #DDDDDD;
    --keyword-color: #47aedc;
}

body {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: white;
    height: 100%;
    margin: 0px;
    min-height: 100%;
    overflow: hidden;
}

    body > * {
        flex-shrink: 0;
    }

.main-body {
    overflow: hidden;
}

.logo {
    width: 360px;
    aspect-ratio: auto;
}

.url{
    color: var(--main-color);
    text-decoration: none;
}

.keyword{
    color: var(--keyword-color);
    font-weight:normal;
}

.code{

}

.code .doc-target{
    color: var(--main-color);
}

.code .doc-parameter{
    color: #AAAAAA;
    font-style: italic;
}

.code .doc-target:hover{
    color: var(--main-highlight);
}

.url:hover{
    color: var(--main-highlight);
}

.scrollable {
    overflow: scroll;
    scrollbar-color: var(--grey-color) var(--main-color);
}

    .scrollable::-webkit-scrollbar {
        color: var(--bg2-color);
        background-color: var(--bg-color);
        width: 8px;
        height:8px;
    }

    .scrollable::-webkit-scrollbar-thumb {
        background: var(--grey-color);
        border-radius: 5px;
    }

        .scrollable::-webkit-scrollbar-thumb:hover {
            background: var(--main-color);
        }

    .scrollable::-webkit-scrollbar-corner,
    .scrollable::-webkit-scrollbar-track {
        background: var(--bg2-color);
    }     

.sec-page {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}


.sec-page table {
    border-collapse: collapse;
}

.sec-main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 99vh;
    padding: 0px 0px 0px 0px;
    margin: auto;
}

.sec-index {
    padding: 0px 0px 0px 0px;
    margin-top: auto;
    display: block;
    width: 550px;
    overflow-y: scroll;
    height: 100%;
}

.sec-content {
    flex-grow:1;
    width: 100%;
}

.sec-namespace {
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
}

.sec-namespace-noleft {
    margin-left: 0px;
    padding-left: 10px;
    padding-bottom: 1px;
}

.sec-namespace-inner {
    display: none;
    margin: 10px 10px 0px 10px;
}

.sec-namespace-inner table tr img {
    margin-left: 5px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.sec-namespace-obj {
    margin-left: 20px;
}

.sec-active {
    display: block;
}

.sec-object {
}

    .sec-object img {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

#content-target {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--bg-color);
}

.doc-invalid {
    color: #FF2222;
    font-weight: normal;
    font-style: italic;
}

.doc-target:hover {
    cursor: pointer;
    color: var(--main-color);
}

.doc-parameter {
    color: #AAAAAA;
    font-style: italic;
}

.doc-target a{
    color: white;
    vertical-align:top;
}

.doc-target img{
    width: 20px;
}

.page-header{
    display:flex;
    flex-direction:column;
    justify-content:left;
    margin-bottom:20px;
}

.page-title{
    font-size:24px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.page-title span{
    vertical-align: middle;
}

.page-title img{
    width: 32px;
    margin-right: 10px;
}

.page-title b {
    font-weight: normal;
    font-size: 24px;
    color: var(--main-color);
}

.page-title .doc-target{
    color: white;
    text-decoration: none;
    cursor:pointer;
}

.page-title .doc-target:hover{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-underline-offset: 6px;
}

.page-info {
    color: var(--grey-color);
}

.page-info .doc-target{
    color:var(--grey-light-color);
}

.page-inherit .keyword{
    font-style: normal;
}

.page-inherit .doc-target:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-underline-offset: 6px;
}

.index-toggle {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    width: 90%;
    display:inline-block;
}

    .index-toggle:hover {
        color: var(--main-color);
    }

/* Create the caret/arrow with a unicode, and style it */
.index-toggle::before {
    content: "\25B6";
    color: var(--main-color);
    display: inline-block;
    margin-right: 6px;
}

.index-toggle-down::before {
    transform: rotate(90deg);
}

.index-selected {
    background: linear-gradient(90deg, var(--main-selected) 0%, rgba(51,51,51,0) 100%);
}   

.sec-div {
    min-height: 5px;
    background-color: #777777;
}

.col-type-icon {
    width: 30px;
}

.col-type-name {
    width: 400px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.obj-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

    .obj-title span {
        vertical-align: top;
    }

        .obj-title span b {
            color: var(--main-color);
            font-size: 24px;
        }

    .obj-title img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

.obj-summary {
    background-color: var(--bg-color);
    font-size: 16px;
    font-weight: normal;
}

.obj-section {
    background-color: #333333;
    font-size: 14px;
    font-weight: normal;
    max-width: 850px;
    margin-top: 25px;
    display:flex;
    flex-direction:column;
    justify-content: start left;
}

    .obj-section .doc-icon {
        width: 16px;
        vertical-align: middle;
        padding-right: 10px;
    }

    .obj-section table {
        min-width: 100%;
        border-collapse: collapse;
        border: 1px solid var(--border-color)
    }

    .obj-section table thead{
        background-color: var(--border-color);
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: white;
    }

        .obj-section table tr {
            border-left: 0px;
            border-right: 0px;
        }

        .obj-section table tbody tr:nth-child(2n+1){
            background-color: var(--bg2-color);
        }

            .obj-section table tr td {
                padding: 5px 5px 5px 5px;
            }

.obj-section-icon {
    width: 25px;
}

.obj-section-title {
    width: 300px;
}

.obj-section-desc {
    width: 400px;
}

.obj-parenthesis {
    font-style: normal;
    color: var(--main-color);
}
