:root{
	--main-color: #dc5c0f;
	--bg-color: #333333;
}

body {
	display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: white;
    height:100%;
    margin: 0px;
	min-height:100%;
}

body a{
	color: skyblue;
	text-decoration: none;
}

body h2{
	color: var(--main-color);
}

body a:hover{
	color: var(--main-color);
}

body > *{
    flex-shrink:0;
}

.logo {
    width: 360px;
    aspect-ratio: auto;
}

.sec-page {
    width: 100%;
    margin-top:0px;
    background-color: #555555;
}

.sec-page table{
	border-collapse: collapse;
}

tr {
	border: 1px solid var(--main-color);
}

.sec-main{
	display:flex;
	flex-direction:row;
	align-content:flex-start;
	height:99vh;
	padding: 0px 0px 0px 0px;
	margin:auto;
}

.sec-index{
	padding: 0px 0px 0px 0px;
	margin-top: auto;
	border: 2px solid white;
	display:block;
	width:500px;
	overflow-y:scroll;
	height:100%;
}

.sec-content{
	padding-left:20px;
	padding-right:10px;
	margin-top: 20px;
	font-size:11px;
}

.sec-namespace{
	margin-left:10px;
	padding-left: 10px;
	padding-bottom: 1px;
	background: linear-gradient(90deg, rgba(68,68,68,1) 24%, rgba(68,68,68,0) 75%);
}

.sec-namespace-noleft{
	margin-left:0px;
}

.sec-namespace-inner{
	display:none;
	
	background: linear-gradient(90deg, rgba(51,51,51,1) 18%, rgba(51,51,51,0) 55%);
	margin: 10px 10px 10px 10px;
}

.sec-namespace-inner table tr img{
	margin-left:5px;
	margin-right:5px;
	width:16px;
	height:16px;
}

.sec-namespace-obj{
	margin-left:20px;
}

.sec-active{
	display:block;
}

#content-target{
	width:100%;
	height:100%;
	margin:auto;
	background-color: var(--bg-color);
}

.namespace-toggle {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.namespace-toggle:hover{
	color: var(--main-color);
}

.doc-page-target:hover{
	cursor: pointer;
	color: var(--main-color);
}

/* Create the caret/arrow with a unicode, and style it */
.namespace-toggle::before {
  content: "\25B6";
  color: var(--main-color);
  display: inline-block;
  margin-right: 6px;
}

.namespace-toggle-down::before {
  transform: rotate(90deg);
}

.sec-div {
    min-height: 5px;
    background-color: #777777;
}

.col-type-icon{
	width: 30px;
}

.col-type-name{
	width: 400px;
	font-weight:bold;
	font-size:18px;
	text-align:left;
}

.obj-title{
	font-size:24px;
	font-weight: bold;
	margin-left:10px;
}

.obj-title span{
	vertical-align:top;
}

.obj-title span b{
	color: var(--main-color);
	font-size:24px;
}

.obj-title img{
	width: 16px;
	height: 16px;
	margin-right:10px;
}

.obj-summary{
	background-color: var(--bg-color);
	font-size:16px;
	font-weight:normal;
}

.obj-section{
	background-color: #333333;
	font-size: 14px;
	font-weight:normal;
}

.obj-section table{
	border: 1px solid #555555;
	max-width: 800px;
	border-collapse: collapse;
}

.obj-section table tr{
	border: 1px solid #555555;
	border-left:0px;
	border-right: 0px;
}

.obj-section table tr td{
	padding: 5px 5px 5px 5px;
}

.obj-section thead th{
	font-size: 18px;
	font-weight: bold;
	text-align:left;
	color: white;
	background-color: #555555;
}

.obj-section-icon{
	width:25px;
}

.obj-section-title{
	width:300px;
}

.obj-section-desc{
	width:400px;
}

.obj-parenthesis{
	font-style:normal;
	color: var(--main-color);
}

.obj-parameter{
	font-style:normal;
	color: #CCCCCC;
}

.obj-footer{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	font-size: 16px;
}

.obj-invalid{
	color: #FF2222;
	font-weight:normal;
	font-style:italic;
}