body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333333;
    color: white;
    height:100%;
    margin: 0px;
}

.logo {
    width: 600px;
    aspect-ratio: auto;
}

.sec-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    margin:auto;
    background-color: #555555;
}

.sec-content{
}

body > *{
    flex-shrink:0;
}

.sec-div {
    min-height: 5px;
    background-color: #777777;
}
